.jumbotron{
    background-color: #e9ecef;
    border-radius: 0.3rem;
    color: black;
    margin-top: 50px;
}

.img_header{
    width: 100%;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.footer{
    padding: 10px 10px 0 0px;
    background-color: #E9ECEF;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

strong {
    font-weight: bold;
  }
  
.btn-hotel{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding: 5px;
}

.botton_icon {
    padding: 5px;
}

.tab-content{
    padding-top: 5px;
}