.jumbotron {
  background-color: #e9ecef;
  background-position: center;
  background-size: cover;
  border-radius: 0.3rem;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 0px;
}
.jumbotron h4 {
  text-align: center;
  font-size: 30px;
  color: #333333;
  border-radius: 9px;
}
.carousel_header {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
}
.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #e9ecef;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.strong {
  font-weight: bold;
}
.btn-hotel {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 5px;
}
.botton_icon {
  padding: 5px;
}
.tab-content {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
