$color_principal: #e9ecef;
$color_secundario: #e9ecef;
$negro: #333333;
$rojo: #FF0000;
$verde: #008000;
$azul: #141e76;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding ($top, $right, $bottom, $left) { 
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-color: $color_principal;
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
    color: $negro;
    @include margenes(50px, 0px );
}

.jumbotron h4{
    text-align: center;
    font-size: 30px;
    color: $negro;
    border-radius: 9px;
}

.carousel_header{
    @include padding(0px, 0px, 0px, 0px);
    width: 100%;
}

.footer{
    @include padding(10px, 10px, 0px, 0px);
    background-color: $color_principal;
    @include margenes(10px, 0px );
}

.card-hotel{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

strong {
    font-weight: bold;
  }
  
.btn-hotel{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding: 5px;
}

.botton_icon {
    padding: 5px;
}

.tab-content{
    @include padding(0px, 0px, 0px, 0px);
}