@color_principal: #e9ecef;
@negro: #333333;
@rojo: #FF0000;
@verde:#008000;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding (@top, @right, @bottom, @left) { 
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}
.jumbotron {
    background-color: @color_principal;
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
    color: @negro;
    .margenes(50px, 0px);
}
 
.jumbotron h4 {
    text-align: center;
    font-size: 30px;
    color: @negro;
    border-radius: 9px; }
  
.carousel_header {
    .padding(0px, 0px, 0px, 0px);
    width: 100%; }
  
 .footer {
    .padding(10px, 10px, 0px, 0px);
    background-color: @color_principal;
    .margenes(10px, 0px); }
  
.card-hotel {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem; }
  
.strong {
    font-weight: bold; }
  
.btn-hotel {
    width: 100%;
    border-radius: 0px; }
  
.footer-address-icon {
    padding: 5px; }
  
.botton_icon {
    padding: 5px; }
  
.tab-content {
    .padding(5px, 0px, 0px, 0px); }